body {
 background-color: #2a2a2a;
 color: #fff;
}

.env {
 background-color: #1e9874;
 transform: scale(0.995, 0.85);
}

.cash {
 background-color: #7ab678;
 transform: scale(0.995, 0.85);
}

.pixelify-sans-head {
 font-family: "Pixelify Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: 700;
 font-style: normal;
 font-size: 4rem;
 text-align: center;
}

.p .App {
 text-align: center;
 transition: opacity 0.2s ease;
}

.container {
 max-width: 800px;
}

.button {
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #c3e7b8;
 color: #323232;
 padding: 10px 20px;
 border-radius: 25px;
 transition: background-color 0.2s ease, transform 0.2s ease;
 border: none;
 font-weight: bold;
}

.button:hover {
 background-color: #b6e8a7;
 color: #323232;
 transform: scale(1.02);
}
.button:active {
 background-color: #b6e8a7;
 color: #323232;
 transform: scale(1.02);
}
.progress {
 height: 30px;
 max-width: 100%;
 border-radius: 15px;
 z-index: 0;
}

.progress-bar {
 font-size: 1.25rem;
 line-height: 10px;
 border-radius: 16px;
 margin-left: 2px;
 z-index: 0;
}
.year-out {
 height: 10px;
 max-width: 100%;

 z-index: 0;
 position: relative;
 bottom: 50;
 background-color: #393939;
}
.year {
 font-size: 1.25rem;
 line-height: 30px;
 border-radius: 15px;
 z-index: 0;
 background-color: #c6c6c6;
}
.down {
 z-index: 20000;
}
.color {
 color: #7ab678;
}
.exp {
 transition: opacity 0.2s ease;
}

.timer-out {
 background-color: #2a2a2a;
 border-color: #fff;
 height: 20px;
}

.timer {
 background-color: #e4e4e4;
 opacity: 30%;
 height: 20px;
}
.article {
 color: #c3e7b8;
 background-color: #3a3a3a;
 transition: background-color 0.2s ease, transform 0.2s ease;
}
.article:hover {
 color: #c3e7b8;
 background-color: rgb(75, 75, 75);
 transition: background-color 0.2s ease, transform 0.2s ease;
 transform: scale(1.02);
}
.pr {
 padding-right: 10px;
 --fa-fade-opacity: 1;
}
.article:hover .pr {
 padding-right: 10px;
 --fa-animation-duration: 1s;
 --fa-fade-opacity: 0.4;
}
.bg {
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 50px;
}
.bg-neu {
 background-image: url("./neu.jpeg");
}
.bg-col {
 background-image: url("./bad.jpeg");
}
.bg-env {
 background-image: url("./success.jpeg");
}
.bg-ban {
 background-image: url("./bank.jpeg");
}
